:root {
  font-family: "Nunito Sans", sans-serif;
  --light-input: hsl(0, 0%, 52%);
  --light-text: hsl(200, 15%, 8%);
  --light-background: hsl(0, 0%, 98%);
  --light-elements: hsl(0, 0%, 100%);
  --dark-elements: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --dark-text: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
}

.light-mode {
  background: var(--light-background);
}

.light-mode a {
  color: var(--light-text);
}

.dark-mode {
  background: var(--dark-background);
  color: var(--dark-text) !important;
}

.dark-mode a {
  color: var(--dark-text);
}

.dark-mode button {
  color: var(--dark-text);
}

.dark-mode .backButton:hover {
  background: var(--dark-elements);
}

.dark-mode option {
  color: var(--dark-text);
  background: var(--dark-background);
}

.dark-mode select {
  background: var(--dark-background);
  color: var(--dark-text);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.dark-mode ::placeholder {
  color: var(--dark-text);
}

.dark-mode input {
  color: var(--dark-text);
}

.dark-mode i {
  font-weight: 800;
}

.dark-mode .backButton:hover,
.dark-mode li:hover {
  background: var(--dark-elements);
}

a {
  text-decoration: none;
}

span {
  font-weight: 600;
}

ul {
  padding: 0;
}
